* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-flow: column;
}

/* Navbar section */

.nav__list {
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-end;
    padding: 1rem 2rem;
    gap: 2rem;
    font-size: 20px;
}

.nav__list li {
    list-style: none;
}

.nav__list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Title section */
.title {
    padding: 3rem 8rem;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    /* background-color: bisque; */
    min-width: 700px;
}

.title__leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    min-width: 300px;
}

.title button {
    width: fit-content;
    padding: 0.5rem 2rem;
    background-color: #FF6464;
    border: none;
}

.title button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.title__rightbox {
    min-width: 250px;
}

.title img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* Recentpost section */
.recentpost {
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    justify-content: center;
    gap: 1rem;
    background-color: #EDF7FA;
}

.uppertitle {
    display: flex;
    justify-content: space-between;
}

.uppertitle__right {
    color: #00A8CC;
}

.textbox-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.textbox-container .textbox {
    width: 48%;
    min-width: 250px;
}

.textbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
}

.textbox__midsection ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.textbox__midsection li {
    list-style: none;
}

/* featuredwork section */
.featuredwork {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 8rem;
    /* gap: 5rem; */
}

.itemsboard {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

.itemsboard__items {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin-top: 2rem;
}

.itemsboard__itemsbox {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.itemsboard__itemsbox_img {
    min-width: 250px;
}

.itemsboard__itemsbox img {
    border-radius: 5px;
}

.itemsboard__itemsbox_textbox {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    min-width: 250px;
    max-width: 600px;
}

.itemsboard__itemsbox__yearbox {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.itemsborad__itembox__yearbox__year {
    background-color: #142850;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 10px;
}

.itemsborad__itembox__yearbox__type {
    color: #8695A4;
}

/* footer section */
footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.footer__iconsbox {
    font-size: 30px;
    display: flex;
    gap: 2rem;
}

.footer__text {
    font-size: 14px;
}